button:focus {
  outline: initial;
}

.drawer-wrapper {
  .news-detail-drawer {
    width: 600px;
    max-width: 100%;
  }
}

.cursor-pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 5px;
}

.table-bg-confirmed {
  background-color: rgba(220, 0, 78, 0.08)
}

.table-bg-recover {
  background-color: rgba(23, 198, 113, 0.08)
}

.table-bg-dead {
  background-color: rgba(0, 0, 0, 0.8);
  .text-danger, .text-primary, .text-success, .text-province, .text-dead {
    color: #FFF !important;
  }
}
